* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x:hidden;
  height:100%;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFCF9;
}

.app_header {
  box-sizing: border-box;
  text-align: center;
  padding: 80px;
  background-color: #091540;
  color: white;
  z-index: 100;
}

.forma {
  margin: auto;
  padding-top: 70px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: space-around;

}

.submit {
  border-radius: 28px;
  color: #454851;
  font-size: 0.5em;
  background: #ECEFF1;
  padding: 10px 20px 10px 20px;
  border: solid #454851 2px;
  text-decoration: none;
}

.submit:hover {
  text-decoration: none;
}

.wrapper {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 60px;
  height: 20px;
}

.app--section {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

#how {
  padding-bottom: 20px;
  padding-top: 30px;
}

.print {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.namePrint {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chewbacca {
  display: none;
  height: 400px;
  background-image: url("chewbacca.jpeg")
}

.doodle {
  z-index: -1;
}

@media (min-width: 10px) and (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 650px) {

}

@media (min-width: 651px) and (max-width: 1204px) {

}

@media (min-width: 1205px) and (max-width: 3000px) {

}