* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  overflow-x: hidden;
  height:100%;
  font-family: 'Roboto', sans-serif;
}

.header {
  box-sizing: border-box;
  text-align: center;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #091540;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form_app--text {
  color: #091540;
  font-family: 'Roboto', sans-serif;
}

.form_app--text:hover {
  opacity: 0.6;
}

.form_app--submit {
  text-decoration: none;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form_app--submit:hover {
  text-decoration: none;
}

.print {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.print_name {
  display: flex;
  flex-direction: column;
}

.chewbacca {
  display: none;
  height: 400px;
  background-image: url("chewbacca.jpeg")
}

@media (min-width: 10px) and (max-width: 480px) {
  .header {
    padding: 50px;
    font-size: 2em;
  }

  .form_app--submit {
    padding: 2px;
    font-size: 1.3em;
    width: 80vw;
    height: 10vh;
  }

  .form_app--text {
    width: 100vw;
    height: 15vh;
    font-size: 2.6em;
  }

  .print {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1em;
  }

  .print_movies {
    padding: 20px;
  }

  .print_name {
    padding: 20px;
  }
}

@media (min-width: 481px) and (max-width: 650px) {

  .header {
    padding: 50px;
    font-size: 2em;
  }

  .form_app--submit {
    padding: 2px;
    font-size: 1.3em;
    width: 80vw;
    height: 10vh;
  }

  .form_app--text {
    width: 100vw;
    height: 15vh;
    font-size: 2.6em;
  }

  .print {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1em;
  }

  .print_movies {
    padding: 20px;
  }

  .print_name {
    padding: 20px;
  }
}

@media (min-width: 651px) and (max-width: 1204px) {

  .header {
    padding: 60px;
    font-size: 2.4em;
  }

  .form_app--submit {
    padding: 8px;
    font-size: 1.8em;
    width: 100vw;
    height: 10vh;
  }

  .form_app--text {
    width: 100vw;
    height: 18vh;
    font-size: 3em;
  }

  .print {
    padding-top: 35px;
    padding-bottom: 18px;
    font-size: 1.4em;
  }

  .print_movies {
    padding: 20px;
  }

  .print_name {
    padding: 20px;
  }
}

@media (min-width: 1205px) and (max-width: 3000px) {

  .header {
    padding: 70px;
    font-size: 2.8em;
  }

  .form_app--submit {
    padding: 30px;
    font-size: 2em;
    width: 100vw;
    height: 10vh;
  }

  .form_app--text {
    width: 100vw;
    height: 18vh;
    font-size: 3.2em;
  }

  .print {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.5em;
  }

  .print_movies {
    padding: 20px;
  }

  .print_name {
    padding: 20px;
  }
}